.resume-container {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  text-align: left;

  .resume-actions {
    margin-top: 20px;
    text-align: center;

    button {
      float: right;
      background-color: white;
      font-family: 'Courier New', Courier, monospace;
      color: #050f0b;

      // Target the SVG icon specifically
      .MuiButton-endIcon {
        svg {
          color: #050f0b;
        }
      }

      &:hover {
        background-color: #0ABAB5;
        color: white;

        // Change icon color on hover
        .MuiButton-endIcon {
          svg {
            color: white;
          }
        }
      }
    }
  }
}